/* apply a natural box layout model to all elements, but allowing components to change */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}

:root {
  /*creo una seudoclase*/
  scroll-behavior: smooth;
  /*comportamiento del scroll, cuando click en menu*/
}

body {
  font-family: 'Roboto', sans-serif;
}


/*** HEADER ***/


.contenedor {
  width: 90%;
  margin: auto;
  overflow: hidden;    /*SE OCULTA TODO LO QUE ESTA POR FUERA DE ESTE CONTENEDOR*/
}

.site-header {
  height: 100vh;
  background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(52, 43, 75, 0.6) 100%), url(../img/fondo-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;

}

.hamburguer{
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 .3rem black;
  border-radius: 20%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.nav{
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;        /* 30% ancho pantalla*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  transform: scale(0);
}
.nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  text-shadow: black 0.2rem 0.2rem 0.2rem;
  font-size: 1.5rem;
}

.aparecer-menu{
  transform: scale(1);
  transition: 0.5ms;
}

.head{
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.titulo{
  font-family: 'Dancing Script', cursive;
  font-size: 6rem;
  font-weight: 700;
  text-shadow: black 0.1em 0.1em 0.2em ;
  margin-bottom: 2.5rem;
}

.subtitulo{
  font-size: 2rem;
  text-shadow: black 0.1em 0.1em 0.2em ;
}


/*** Sobre mi ***/

.titulo-seccion{
  
  text-shadow: rgb(0, 0, 0) 0.05em 0.05em .4em ;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: #f68084;
  margin: 2rem;
}

.area-sobremi{
  align-items: center;
}

.foto-perfil{
  width: 16rem ;
  border-radius: 50%;
  box-shadow: black 0px 0px 10px;
  max-width: 40%;
  display: block;
  margin: 0 auto 1rem auto;
}

.parrafo-sobremi{
  padding: 2rem;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.5;
}


/*** Conocimientos ***/

.conocimientos{
  background-color: #f6808448;
}
.conocimientos h2{
  padding-top: 3rem;
}
.subtitulo-seccion{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: #f68084;
  margin: 2rem 0;
}

.lenguajes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  align-self: center;
}

.lenguajes img{
  margin: 2rem auto;
  max-height: 10rem;
  max-width: 10rem;
}



/*** Proyectos ***/

.proyectos h2{
padding-top: 3rem;
}

.titulo-proyecto{
  text-align: center;
  font-size: 2rem;
  margin: 3rem;
}

.img-proyecto{
  width: 15rem;
  display: block;
  margin: 0 auto 2rem auto;
  border-radius: 50%;
}

.texto-proyecto{
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.proyecto a{
  display: block;
  width: 100%;
}

.proyecto a:last-child{
  margin-bottom: 3rem;
}

.btn{
  width: 100%;
  background-color: #f68084;
  color: white;
  margin: .5rem ;
  border: none;
}